body {
  color: white;
  font-family: Georgia, serif;
}

form {
  background-color: #3c3b3b;
}

fieldset li label {
  color: white;
}

.button {
  background-color: #77212c;
  background-image: none;
  border: 1px solid #e5dfdf;
  border-radius: 20px;
  box-shadow: none;
  color: white;
  font-weight: normal;
  height: 42px;
  width: 25%;
}

.button:hover {
  background-color: #7c7c83;
  border-color: #7c7c83;
}

fieldset ul li {
  margin-bottom:10px;
}